.navbar {
  position: relative;
  padding: 20px;
  margin-bottom: 40px;
  border-top: solid #cecece 1px;
  border-bottom: solid #cecece 1px; }
  .navbar .form-control {
    width: 300px; }
    @media (max-width: 569px) {
      .navbar .form-control {
        width: 150px; } }
    @media (min-width: 569px) and (max-width: 769px) {
      .navbar .form-control {
        width: 200px; } }
  .navbar .nav-link {
    font-weight: 500; }
  .navbar .navbar-brand {
    width: 15%;
    font-size: 27px;
    letter-spacing: 1px;
    color: #ff373f !important;
    font-weight: 500;
    margin-right: -4.5em;
    padding-bottom: 12px; }
    @media (max-width: 569px) {
      .navbar .navbar-brand {
        margin-right: -0.5rem;
        margin-left: -9px; } }
    @media (min-width: 569px) and (max-width: 769px) {
      .navbar .navbar-brand {
        margin-right: -0.5em;
        margin-left: 0.5em; } }
    @media (min-width: 769px) and (max-width: 1025px) {
      .navbar .navbar-brand {
        margin-right: -2.5em;
        margin-left: 0.5em; } }
    @media (min-width: 1025px) and (max-width: 1269px) {
      .navbar .navbar-brand {
        margin-right: -4em; } }
  .navbar .nav-item {
    font-size: 14px; }
  .navbar .btn-main-search {
    border-color: #ff373f;
    color: #ff373f;
    padding: 0.375rem 0.75rem; }
    @media (max-width: 569px) {
      .navbar .btn-main-search {
        margin-right: -29px;
        padding: 0.15rem 0.375rem; } }
    .navbar .btn-main-search:hover, .navbar .btn-main-search:focus, .navbar .btn-main-search:active {
      background-color: #ff373f !important;
      border-color: #ff373f !important;
      color: #fff !important;
      box-shadow: none; }
  .navbar .navbar-search-btn {
    border-color: #ff373f;
    color: #ff373f; }
    .navbar .navbar-search-btn:hover, .navbar .navbar-search-btn:focus, .navbar .navbar-search-btn:active {
      background-color: transparent !important;
      border-color: #ff373f !important;
      color: #ff373f !important;
      box-shadow: none; }
  .navbar .dropdown-menu .dropdown-item:active {
    background-color: #ff373f; }
  .navbar .nav-item {
    color: #ededed; }
  .navbar .nav-link {
    color: rgba(0, 0, 0, 0.3); }

.logo {
  width: 24%; }
  @media (max-width: 569px) {
    .logo {
      width: 75%; } }
  @media (min-width: 569px) and (max-width: 769px) {
    .logo {
      width: 45%; } }

.navbar-toggler {
  font-size: 1rem; }
  @media (max-width: 569px) {
    .navbar-toggler {
      padding: 0.25rem -1.25rem; } }

.form-control {
  display: block;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15; }

#rentalListing {
  /* SINGLE CARD STYLES*/ }
  #rentalListing .title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px; }
  @media (max-width: 569px) {
    #rentalListing h1 {
      font-size: 1.25em; } }
  @media (min-width: 569px) and (max-width: 769px) {
    #rentalListing h1 {
      font-size: 1.5em; } }
  #rentalListing .rental-detail-link:hover {
    text-decoration: none; }
  #rentalListing .rental-card {
    border: none; }
    #rentalListing .rental-card .card-block {
      padding-top: 8px;
      padding-bottom: 20px; }
      #rentalListing .rental-card .card-block .card-subtitle {
        margin: 0;
        font-weight: 500;
        font-size: 12px; }
      #rentalListing .rental-card .card-block .card-title {
        font-size: 0.8em;
        margin: -5px 0px 0px;
        color: #000; }
      #rentalListing .rental-card .card-block .card-text {
        font-size: 12px;
        font-weight: 400;
        color: #808080;
        margin-bottom: -6px;
        padding: 5px 0px; }

.bookeo {
  color: #ff373f;
  font-size: 2.5rem; }
  @media (max-width: 569px) {
    .bookeo {
      font-size: 1.5rem; } }
  @media (min-width: 569px) and (max-width: 769px) {
    .bookeo {
      font-size: 2rem; } }

.img-upload-container {
  margin-bottom: 20px;
  position: relative; }
  .img-upload-container .img-preview-container {
    background-color: #f7f7f7; }
  .img-upload-container .img-preview {
    background: center center no-repeat;
    background-size: contain;
    height: 116px;
    width: 116px; }
  .img-upload-container .img-upload {
    margin-right: 20px;
    margin-bottom: 0; }
  .img-upload-container .upload-text {
    font-size: 17px;
    margin: 0 10px 0 0; }
  .img-upload-container input {
    display: none; }
  .img-upload-container .alert {
    margin-top: 10px; }

.rating {
  color: black;
  font-size: 11px; }

.stars {
  margin-bottom: -11px;
  margin-right: 5px; }

.detail-stars {
  font-size: 25px;
  margin-top: -8px; }

.img-loading-overlay {
  background-color: black;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.2;
  position: absolute; }

.img-spinner {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.img-spinner:after {
  content: ' ';
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite; }

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.navbar__logo {
  width: 5rem;
  margin-right: 1rem; }

.search {
  display: flex;
  margin-right: auto; }
  .search__input {
    display: block;
    width: 100%;
    height: 3.5rem;
    padding: 0.375rem 0.75rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  .search__button {
    background: white;
    border: none;
    /* margin-right: -22px; */
    position: absolute;
    left: 79%; }
    .search__button:focus, .search__button:active {
      outline: none; }

#rentalDetails .upper-section {
  margin-bottom: 30px; }
  #rentalDetails .upper-section img {
    width: 100%; }

#rentalDetails .details-section {
  color: #20232a; }
  #rentalDetails .details-section .rental-type {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0; }
    @media (max-width: 569px) {
      #rentalDetails .details-section .rental-type {
        font-size: 12px; } }
  #rentalDetails .details-section .rental .username {
    display: block;
    font-size: 13px;
    font-weight: 300;
    text-align: center; }
  #rentalDetails .details-section .rental-owner {
    float: right; }
    #rentalDetails .details-section .rental-owner img {
      height: 50px;
      border-radius: 50%;
      display: block;
      margin: 0 auto; }
  #rentalDetails .details-section .rental-title {
    margin-bottom: 5px;
    font-size: 2rem;
    font-weight: 700;
    color: #484848; }
    @media (max-width: 569px) {
      #rentalDetails .details-section .rental-title {
        font-size: 0.9rem;
        padding-top: 10px;
        padding-bottom: 2px; } }
  #rentalDetails .details-section .rental-city {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
    text-transform: capitalize; }
  #rentalDetails .details-section .rental-room-info {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 1rem; }
    @media (max-width: 569px) {
      #rentalDetails .details-section .rental-room-info {
        font-size: 0.75rem; } }
    #rentalDetails .details-section .rental-room-info span {
      margin-right: 10px; }
    #rentalDetails .details-section .rental-room-info i {
      margin-right: 2px; }
  #rentalDetails .details-section .rental-description {
    font-weight: 300;
    margin-bottom: 30px; }
    @media (max-width: 569px) {
      #rentalDetails .details-section .rental-description {
        font-size: 0.8rem; } }
  #rentalDetails .details-section .rental-amenities .title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1.4rem; }
    @media (max-width: 569px) {
      #rentalDetails .details-section .rental-amenities .title {
        font-size: 1rem; } }
  #rentalDetails .details-section .rental-amenities span {
    display: block;
    margin-bottom: 15px;
    font-weight: 300; }
    @media (max-width: 569px) {
      #rentalDetails .details-section .rental-amenities span {
        font-size: 0.8rem; } }

#rentalDetails .review-card {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box; }
  @media (max-width: 569px) {
    #rentalDetails .review-card {
      text-align: center; } }
  @media (min-width: 569px) and (max-width: 769px) {
    #rentalDetails .review-card {
      text-align: center; } }
  @media (max-width: 569px) {
    #rentalDetails .review-card p {
      font-size: 0.85rem; } }
  #rentalDetails .review-card img {
    border-radius: 50%; }
    @media (max-width: 569px) {
      #rentalDetails .review-card img {
        width: 20%; } }

#rentalDetails .cardBody {
  flex: 1 1 auto;
  padding: 1.25rem;
  margin-top: 9px; }

.reg-form {
  color: #20232a; }
  .reg-form .btn {
    margin-top: 15px; }
  .reg-form h1 {
    font-weight: 700;
    margin-bottom: 30px; }
  .reg-form .image-container {
    position: relative; }
    .reg-form .image-container img {
      width: 100%;
      border-radius: 5px; }
  .reg-form label {
    font-size: 12px; }
  .reg-form .form-text {
    font-size: 13px; }
  .reg-form .catchphrase {
    text-align: center;
    font-size: 42px;
    position: absolute;
    color: #f1f1f1;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    letter-spacing: 1px; }
    @media (max-width: 569px) {
      .reg-form .catchphrase {
        font-size: 24px;
        padding: 20px; } }

.search-bar {
  margin-right: auto;
  position: relative; }
  @media (min-width: 569px) and (max-width: 769px) {
    .search-bar {
      margin-left: -20px; } }

.booking {
  padding: 20px;
  border: 1px solid #dedada;
  position: sticky;
  top: 0;
  align-self: flex-start; }
  .booking-top {
    background: black;
    padding: 15px;
    margin: -21px; }
  .booking .btn-confirm {
    font-size: 17px;
    font-weight: 700;
    padding: 13px; }
  .booking label {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 0; }
  .booking-price {
    color: #fff;
    font-size: 22px;
    font-weight: 700; }
  .booking-card-price {
    color: #000; }
  .booking-per-night {
    font-size: 13px;
    font-weight: 300; }
  .booking-note-title {
    font-size: 14px;
    margin-bottom: 10px; }
  .booking-note-text {
    font-size: 13px;
    font-weight: 300; }
  .booking .should-login-btn-container {
    text-align: center;
    margin-bottom: 10px; }
    .booking .should-login-btn-container .btn-login {
      text-align: center;
      font-size: 15px;
      padding: 15px; }
      .booking .should-login-btn-container .btn-login:hover, .booking .should-login-btn-container .btn-login:focus {
        color: white;
        text-decoration: none; }

.booking-modal .title {
  font-weight: 700;
  font-size: 26px; }

.booking-modal .buttons {
  margin: 15px 0px; }

.booking-modal em {
  font-style: normal;
  font-size: 17px;
  font-weight: 700; }

.booking-modal p {
  margin: 0; }

.daterangepicker td.in-range {
  background-color: red #ff373f; }

.daterangepicker td.active {
  background-color: #ff373f !important; }

#userBookings .card {
  margin-bottom: 20px; }

#userBookings h1 {
  margin-bottom: 20px; }

#userBookings .card-block {
  padding: 20px; }

#userBookings .card-header {
  text-transform: capitalize; }

#userBookings .card-title {
  font-size: 0.9em; }

#userBookings .booking-desc {
  font-size: 14px; }

#userBookings .booking-days {
  font-size: 14px;
  font-weight: bold; }

#userBookings .booking-price-value {
  font-weight: 700; }

#userBookings .btn-main {
  color: white;
  font-size: 14px; }

#userRentals .card {
  margin-bottom: 20px; }

@media (max-width: 569px) {
  #userRentals .alert-warning {
    font-size: 0.75rem; } }

#userRentals .card-block {
  padding: 20px; }

#userRentals .card-title {
  font-size: 20px; }

#userRentals .btn-main {
  font-size: 1rem; }
  @media (max-width: 569px) {
    #userRentals .btn-main {
      font-size: 0.5rem;
      margin-top: 2em; } }

#userRentals .card-footer {
  font-size: 14px; }

#userRentals .btn-bookings {
  border-color: #ff373f;
  background-color: transparent;
  color: #ff373f; }
  #userRentals .btn-bookings:hover, #userRentals .btn-bookings:focus {
    border-color: #ff373f !important;
    background-color: transparent !important;
    color: #ff373f !important; }

#userRentals .btn-danger,
#userRentals .btn-success {
  margin-left: 10px;
  font-size: 14px; }

#userRentals .deleteMenu {
  margin-top: 5px; }

#userRentals .btn-main {
  margin-right: 10px; }

#userRentals .toBeDeleted {
  border-color: red; }

@media (max-width: 569px) {
  #userBookings .alert-warning {
    font-size: 0.75rem; } }

#userBookings .btn-main {
  font-size: 1rem; }
  @media (max-width: 569px) {
    #userBookings .btn-main {
      font-size: 0.5rem;
      margin-top: 2em; } }
  @media (min-width: 569px) and (max-width: 769px) {
    #userBookings .btn-main {
      font-size: 0.75rem; } }

.rental-booking-modal .btn-main {
  font-size: 14px;
  color: white; }

.rental-booking-modal .bookings-inner-container p {
  font-size: 14px;
  margin-bottom: 0px; }

.payment .alert-payment {
  font-size: 15px;
  padding: 8px;
  margin-top: 5px; }

.page-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px; }

.apartment {
  color: #a72da3; }

.house {
  color: #bf1818; }

.condo {
  color: #d68000; }

.clickable:hover {
  cursor: pointer; }

.fa,
.fas,
.fab {
  color: #484848; }

.btn-main {
  background-color: #ff373f !important;
  border-color: #ff373f !important;
  color: #ffffff !important;
  font-size: 20px; }
  .btn-main:hover, .btn-main:focus, .btn-main:active {
    background-color: #ff373f;
    border-color: #ff373f; }

.loadingContainer {
  width: 100%;
  height: 440px;
  display: flex;
  align-items: center;
  justify-content: center; }

body {
  color: red;
  font-size: 20px; }
